body {
  margin-top: 40px;
  font-family: Roboto, sans-serif;
}

#menu-container {
  position: relative;
}

.menu-logo {
  width: 50%;
  padding: 20px;
}

.menu-counter {
  width: 20%;
}

.container-cart-items {
  list-style-type: none;
}

#cart {
  position: absolute;
  right: 1%;
  top: 15%;
  width: 300px;
  text-align: right;
  margin-right: 3%;
}

.cart-item {
  float: left;
  width: 120%;
  border: solid rgb(212, 210, 210) 1px;
  margin-left: -20%;
  border-radius: 5px;
}

#delete-btn {
  margin: 2px 2px 2px 10px;
}

#items-container {
  margin-top: 1px;
}

.book-img {
  text-align: center;
  height: 250px;
}

.book-button {
  width: 100%;
}

.book-card {
  text-align: center;
  border: rgb(226, 224, 224) solid 1px;
  border-radius: 5px;
}

.book-title {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0 0 0;
}

.book-author {
  text-align: left;
  color: gray;
  padding-bottom: 10px;
}

.book-price {
  text-align: left;
  padding-bottom: 10px;
}
